$font-title: 'Oswald', helvetica, sans-serif;
$font-subtitle: 'PlayFair Display', helvetica, sans-serif;
$font-theme: 'JetBrains Mono', helvetica, sans-serif;
$font-contents: 'Roboto', helvetica, sans-serif;

body {
  margin: 0;
}

.row {
  margin: 0;
}