@import 'general';

.navbar-container {
    height: 6.5vh;
    display: grid;
    grid-template-columns: 30px 100px 10fr 1fr;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid lightgray;
}

.navbar-content {
    display: flex;
    align-items: center;

    font-size: 20px;
    font-family: $font-title;

    &.icon {
        font-size: 16px;
    }
    &.subtitle {
        font-size: 13px;
        font-weight: 600;
        font-family: $font-theme;
        margin-left: 50px;
        display: grid;
        grid-template-columns: 80px 80px 1fr;
    }
}

.subtitle-content {
    padding: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
}