@import 'general';

.preview {
    margin: 0px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.25rem;
    transition: background-color 0.3s, transform 0.1s ease 0s, opacity 0.1s ease 0s;
}

.preview:hover {
    background-color: $color-second;
    transform: translateX(3px);
    color: var($color-second);
}


.preview-title {
    font-family: $font-title;
    color: $color-font;
    font-size: 24px;
    font-weight: 800;
}

.preview-date {
    font-family: $font-contents;
    font-size: 12px;
    color: $color-subfont;
    margin-top: 2px;
}

.preview-excerpt {
    font-family: $font-contents;
    font-size: 15px;
    color: $color-subfont;
    margin-top: 5px;
    line-height: 100%;
}

.preview-tags {
    margin-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 100px;

    &.exist {
        border-bottom: 1px solid $color-fourth;
    }
}

.preview-layout {
    color: $color-subfont;
    font-family: $font-title;
    font-size: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.tag {
    font-family: $font-theme;
    display: inline-block;
    padding: 5px 8px !important;
    background-color: $color-fourth;
    border-radius: 4px;
    color: $color-first;
    font-size: 13px;
    line-height: 13px;
    text-decoration: none;
    margin-left: 1px;
    margin-right: 1px;
}