@import 'general';

.preview {
    margin: 0px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: background-color 0.3s, transform 0.1s;
    border-radius: 0.25rem;
}

.preview:hover {
    background-color: $color-second;
    transform: scale(1.01);
}

.preview-title {
    font-family: $font;
    color: $color-font;
    font-size: 24px;
    font-weight: 800;
}

.preview-date {
    font-family: $font-contents;
    font-size: 12px;
    color: $color-subfont;
    margin-top: 2px;
}

.preview-excerpt {
    font-family: $font-contents;
    font-size: 15px;
    color: $color-subfont;
    margin-top: 5px;
    line-height: 100%;
}

.preview-tags {
    margin-top: 5px;
    padding-bottom: 5px;

    &.exist {
        border-bottom: 1px solid $color-fourth;
    }
}

.tag {
    font-family: $font-contents;
    display: inline-block;
    padding: 5px 8px !important;
    background-color: $color-fourth;
    border-radius: 4px;
    color: $color-first;
    font-size: 13px;
    line-height: 13px;
    text-decoration: none;
    margin-left: 1px;
    margin-right: 1px;
}