#main {
  background-position: 100% -50px, 0 center, center top;
}

.note-content {
  margin-left: 200px;
  margin-right: 200px;
}

@media screen and (max-width: $break) {
  .note-content {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: $sm-break) {
  .note-content {
    margin-left: 0;
    margin-right: 0;
  }
}

/* --- note listing --- */
.notes {
  .note-title {
    font-family: $font-family-logo;
    border-bottom: 2px solid var(--h1);
    border-top: 2px solid var(--h1);
    font-size: 1.8rem;
    margin-top: 2rem;
  }

  .note-cell {
    width: 100%;
    // display: inline-block;
    display: flex;
    background-size: cover;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    align-items: center;

    .note-section{
      flex: 3;
      font-size: 15px;
    }
    
    .tag-section{
      flex: 1;
      font-size: 20px;
    }
    p a {
      @extend .body-link;
    }
  }
  
}
