---
layout: default
---

<article>
  <section class="portfolio-layout">
    <section class="post-content">
    {% if page.bootstrap %}
    <div class="bootstrap-iso">
    {% endif %}
    {{ content }}
    {% if page.bootstrap %}
    </div>
    {% endif %}
    </section>
  </section>

</article>
